.sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding:  20px;
  border-right: 1px solid #eee;
}

.main {
  top: 150px;
  bottom: 0;
  padding-bottom: 80px;
}

.fixed-main {
  position: fixed;
  background: #fff;
  z-index: 10;
}

.sidenav > ul:not(.custom-menu) > li > .nav-link {
  border: 2px solid #f7f7f7;
}

.center {
  text-align: center;
}

.custom-menu {
  display: none;
  position: absolute;
  background: #000;
  color: #fff;
  border-radius: .25rem;
}

.custom-menu a {
  cursor: pointer;
}

.custom-menu a:hover {
  background: #161616;
}

.nav-focused {
  border: 2px solid #eee !important;
  border-radius: .25rem;
}

.card {
  margin-bottom: 30px;
}

#github-link {
  background-image: url("octoface.svg");
  background-repeat: no-repeat;
}

#github-link:hover {
  background-image: url("octoface-blue.svg");
}

#tauntContainer {
  bottom: 16px;
  position: fixed;
}

#templateList {
  overflow-y: auto;
  height: 85%;
}

hr {
  margin: 0;
}

::-webkit-scrollbar { visibility: hidden; }

.chip {
  display: inline-block;
  padding: 3px 16px;
  margin: 5px;
  border-radius: 15px;
}

.close-chip {
  font-weight: bold;
  cursor: pointer;
  float: right;
  font-size: 16px;
}

.top-bottom-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#scroll-this {
  overflow-y: scroll;
  margin-top: 90px;
}

#fix-this {
  position: fixed !important;
}

.white-grace {
  white-space: pre-wrap;
  font-size: 11px;
  font-family: Consolas,monaco,monospace;
}

.state {
  display: none;
}

.hoverLink {
  color: #014c8c;
  text-decoration: underline;
}

.normalLink {
  color: #0275d8;
  text-decoration: none;
}
